.circle {
	height: 40px;
	width:40px;
	background-color: black;
	border-radius: 50%;
	position: relative;
	box-sizing: border-box;
	border:3px solid black;
	animation: circle 2.5s infinite;
	transition: border 0.25s, transform 0.25s;
	display: inline-block;
}
@keyframes circle{
  0% {
    border: 3px solid blue;
  }
  30% {
    border: 3px solid #FC00FF;
  }
  70% {
    border: 3px solid #1CC3E2;
  }
  100% {
  	border: 3px solid blue;
  }
}
.rgbLight{
	box-sizing: border-box;
	border-bottom:3px solid black;
	animation: rgbLight 2.5s infinite;
}
@keyframes rgbLight{
  0% {
    border-bottom: 3px solid blue;
  }
  30% {
    border-bottom: 3px solid #FC00FF;
  }
  70% {
    border-bottom: 3px solid #1CC3E2;
  }
  100% {
  	border-bottom: 3px solid blue;
  }
}